@model Product

@{
    ViewData["Title"] = $"Detail de {Model.Name}";
    bool onDiscount = !(Model.Discount is null);
}

<h1>Detail de @Model.Name</h1>

<dl>
    <dt>@Html.DisplayNameFor(m => m.Reference)</dt>
    <dd>@Html.DisplayFor(m => m.Reference)</dd>
    
    <dt>@Html.DisplayNameFor(m => m.Desc)</dt>
    <dd>@Html.DisplayFor(m => m.Desc)</dd>
    
    <dt>@Html.DisplayNameFor(m => m.Price)</dt>
    <dd>
        <span class="@(onDiscount ? "price-discount" : "")">@Html.DisplayFor(m => m.Price)</span>

        @if(onDiscount) {
            <span>@Html.DisplayFor(m => m.DiscountPrice)</span>
        }
    </dd>
   
    @if (onDiscount)
    {
        <dt>@Html.DisplayNameFor(m => m.Discount)</dt>
        <dd>@Html.DisplayFor(m => m.Discount) %</dd>
    }
</dl>