@model Product

@{
    ViewData["Title"] = $"Detail de {Model.Name}";
    bool onDiscount = !(Model.Discount is null);
}

<h1>Detail de @Model.Name</h1>

<dl>
    <dt>Ref</dt>
    <dd>@Model.Reference</dd>

    <dt>Desc</dt>
    <dd>@Model.Desc</dd>
    
    <dt>Prix</dt>
    <dd>
        <span class="@(onDiscount ? "price-discount" : "")">@Model.Price</span>

        @if(onDiscount) {
            decimal priceDiscount = (decimal)(Model.Price - (Model.Price * Model.Discount) / 100m);
            <span>@priceDiscount</span>
        }
    </dd>
   
    @if (onDiscount)
    {
        <dt>Promo</dt>
        <dd>@Model.Discount %</dd>
    }
</dl>